<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Materi 7-5</title>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex@3"></script>
</head>
<body>
  <div id="app"></div>

  <script type="module">
    import {CounterComponent} from './CounterComponent.js'

    const store = new Vuex.Store({
      strict: true,
      state: {
        counter: 0,
      },
      getters: {
        counter(state) {
          return state.counter
        },
      },
      mutations: {
        increment(state, payload) {
          // state.counter++

          // Eror … mutations tak boleh asinkron!
          // Pake actions!
          // setTimeout(() => {
          //   state.counter++
          // }, 2000)

          state.counter += payload.howMuch
        },
      },
      actions: {
        increment(context) {
          setTimeout(() => {
            // context.commit('increment')
            context.commit('increment', {howMuch: 10})
          }, 2000)
        },
      },
    })

    new Vue({
      el: '#app',
      store,
      // state
      // data: {
      //   counter: 0,
      // },
      // getters
      computed: {
        counter() {
          return store.state.counter
        },
      },
      // view
      components: {
        CounterComponent,
      },
      template: `
        <div>
          <button @click="increment()">Bismillah 🚀</button>
          … Rp<mark>{{ counter }}</mark> triliun … 🤲 <i>Alhamdulillah~</i>
          <counter-component></counter-component>
        </div>
      `,
      // actions
      methods: {
        increment() {
          // store.commit('increment')
          // store.state.counter++

          // .dispatch manggil actions
          store.dispatch('increment')
        }
      },
    })
  </script>
</body>
</html>
