<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>7-2</title>
  <style>
    body {
      font-family: sans-serif;
    }

    table, th, td {
      border: 1px solid black;
      border-radius: 10px;
    }

    img {
      object-fit: cover;
    }
  </style>
</head>
<body>
  <div id="app">
    <form @submit.prevent="submitForm">
      <div v-if="errors.length">
        <p><i>Please correct the following mistakes:</i></p>
        <ul>
          <li v-for="error in errors"><i>{{ error }}</i></li>
        </ul>
      </div>

      <label for="name-anggota">Name:</label>
      <br>
      <input type="text" id="name-anggota" v-model="name" ref="name" :disabled="mode == 'mengunggah'">
      <br>
      <label for="address-anggota">Address:</label>
      <br>
      <textarea id="address-anggota" v-model="address" ref="address" :disabled="mode == 'mengunggah'"></textarea>
      <br>
      <label for="nomor-ponsel">Phone Number:</label>
      <br>
      <input type="tel" id="nomor-ponsel" v-model="phoneNumber" ref="phoneNumber" :disabled="mode == 'mengunggah'">
      <br><br>

      <div v-if="mode == 'mendaftar'">
        <input type="submit" value="Kirim">
      </div>
      <div v-else-if="mode == 'menyunting'">
        <input type="button" value="Mutakhirkan" @click="updateMember(editID)">
        <input type="button" value="Batal" @click="clearForm">
      </div>
      <div v-else-if="mode == 'mengunggah'">
        <input type="file" ref="foto">
        <br><br>
        <input type="button" value="Unggah" @click="submitPhoto(uploadID)">
        <input type="button" value="Batal" @click="clearForm">
      </div>
    </form>
    <br>

    <table-component
        :members="members"
        :default-image="defaultImage"
        :base-url="baseUrl"
        @edit-member="editMember($event)"
        @upload-photo="uploadPhoto($event)"
        @delete-member="deleteMember($event)"
            ></table-component>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const TableComponent = {
      props: ['members', 'defaultImage', 'baseUrl'],
      template: `
        <table border="1">
          <tr>
            <th>Foto</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>🔥</th>
          </tr>
          <tr v-for="anggota of members">
            <td>
              <img :src="anggota.photo_profile ? baseUrl + anggota.photo_profile : defaultImage" :alt="anggota.name" width="100" height="100">
            </td>
            <td>{{ anggota.name }}</td>
            <td>{{ anggota.address }}</td>
            <td>{{ anggota.no_hp }}</td>
            <td>
              <button @click="$emit('edit-member', anggota)">Sunting …</button>
              <br><br>
              <button @click="$emit('upload-photo', anggota)">Unggah foto</button>
              <br><br>
              <button @click="$emit('delete-member', anggota.id)">Hapus(!)</button>
              <br><br>
            </td>
          </tr>
        </table>
      `
    }

    const vm = new Vue({
      el: '#app',
      components: {
        'table-component': TableComponent
      },
      data: {
        name: '',
        address: '',
        phoneNumber: '',
        errors: [],
        members: [],
        baseUrl: 'https://demo-api-vue.sanbercloud.com',
        defaultImage: 'https://placehold.jp/200/808080/ffffff/300x300.jpg?text=%3F',
        mode: 'mendaftar',
        editID: null,
        uploadID: null,
      },
      methods: {
        getAllMembers: function() {
          const config = {
            method: 'get',
            url: `${this.baseUrl}/api/member`,
          }

          axios(config)
              .then((response) => {
                this.members = response.data.members
              })
              .catch((error) => {
                console.log(error)
              })
        },
        formValidation: function() {
          this.errors = []

          if (this.name.length < 1) {
            this.errors.push('Name minimal 1 karakter~')

            this.$refs.name.focus()
          }

          if (this.address.length < 1) {
            this.errors.push('Address minimal 1 karakter~')

            this.$refs.address.focus()
          }

          if (this.address.length > 20) {
            this.errors.push('Address maksimal 20 karakter~')

            this.$refs.address.focus()
          }

          if (this.phoneNumber.length < 9) {
            this.errors.push('Phone Number minimal 9 karakter~')

            this.$refs.phoneNumber.focus()
          }

          if (this.phoneNumber.length > 14) {
            this.errors.push('Phone Number maksimal 14 karakter~')

            this.$refs.phoneNumber.focus()
          }
        },
        clearForm: function() {
          this.name = ''
          this.address = ''
          this.phoneNumber = ''

          this.mode = 'mendaftar'

          this.editID = null
          this.uploadID = null
        },
        submitForm: function() {
          this.formValidation()

          if (this.errors.length === 0) {
            const formData = new FormData()

            formData.append('name', this.name)
            formData.append('address', this.address)
            formData.append('no_hp', this.phoneNumber)

            const config = {
              method: 'post',
              url: `${this.baseUrl}/api/member`,
              data: formData,
            }

            axios(config)
                .then(response => {
                  this.clearForm()
                  this.getAllMembers()

                  const pesan = response.data.message + '~'

                  alert(pesan.toUpperCase())
                })
                .catch(error => {
                  console.log(error)
                })
          }
        },
        editMember: function(anggota) {
          this.$refs.name.focus()

          this.name = anggota.name
          this.address = anggota.address
          this.phoneNumber = anggota.no_hp

          this.mode = 'menyunting'

          this.editID = anggota.id
        },
        updateMember: function(id) {
          this.formValidation()

          if (this.errors.length === 0) {
            const formData = new FormData()

            formData.append('name', this.name)
            formData.append('address', this.address)
            formData.append('no_hp', this.phoneNumber)

            const config = {
              method: 'post',
              url: `${this.baseUrl}/api/member/${id}`,
              params: {_method: 'PUT'},
              data: formData,
            }

            axios(config)
                .then(response => {
                  this.clearForm()
                  this.getAllMembers()

                  const pesan = response.data.message + '~'

                  alert(pesan.toUpperCase())
                })
                .catch(error => {
                  console.log(error)
                })
          }
        },
        uploadPhoto: function(anggota) {
          this.$refs.name.focus() // Gulir ke atas … (!fokus ke <input type="file">)

          this.name = anggota.name
          this.address = anggota.address
          this.phoneNumber = anggota.no_hp

          this.mode = 'mengunggah'

          this.uploadID = anggota.id
        },
        submitPhoto: function(id) {
          const fail = this.$refs.foto.files[0]

          const formData = new FormData()

          formData.append('photo_profile', fail)

          const config = {
            method: 'post',
            url: `${this.baseUrl}/api/member/${id}/upload-photo-profile`,
            data: formData,
          }

          axios(config)
              .then(response => {
                this.clearForm()
                this.getAllMembers()

                const pesan = response.data.message + '~'

                alert(pesan.toUpperCase())
              })
              .catch(error => {
                console.log(error)
              })
        },
        deleteMember: function(id) {
          if (confirm('Anda yakin?')) {
            const config = {
              method: 'post',
              url: `${this.baseUrl}/api/member/${id}`,
              params: {_method: 'DELETE'},
            }

            axios(config)
                .then(response => {
                  this.getAllMembers()

                  const pesan = response.data.message + '~'

                  alert(pesan.toUpperCase())
                })
                .catch(error => {
                  console.log(error)
                })
          }
        },
      },
      created() {
        this.getAllMembers()
      }
    })
  </script>
</body>
</html>
