<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>7-2</title>
  <style>
    body {
      font-family: sans-serif;
    }

    table, th, td {
      border: 1px solid black;
      border-radius: 10px;
    }

    img {
      object-fit: cover;
    }
  </style>
</head>
<body>
  <div id="app">
    <form @submit.prevent="submitForm">
      <div v-if="errors.length">
        <p><i>Please correct the following mistakes:</i></p>
        <ul>
          <li v-for="error in errors"><i>{{ error }}</i></li>
        </ul>
      </div>

      <label for="name-anggota">Name:</label>
      <br>
      <input type="text" id="name-anggota" v-model="name" ref="name" :disabled="mode == 'mengunggah'">
      <br>
      <label for="address-anggota">Address:</label>
      <br>
      <textarea id="address-anggota" v-model="address" ref="address" :disabled="mode == 'mengunggah'"></textarea>
      <br>
      <label for="nomor-ponsel">Phone Number:</label>
      <br>
      <input type="tel" id="nomor-ponsel" v-model="phoneNumber" ref="phoneNumber" :disabled="mode == 'mengunggah'">
      <br><br>

      <div v-if="mode == 'mendaftar'">
        <input type="submit" value="Kirim">
      </div>
      <div v-else-if="mode == 'menyunting'">
        <input type="button" value="Mutakhirkan" @click="updateMember">
        <input type="button" value="Batal" @click="clearForm">
      </div>
      <div v-else-if="mode == 'mengunggah'">
        <input type="file" ref="foto">
        <br><br>
        <input type="button" value="Unggah" @click="submitPhoto">
        <input type="button" value="Batal" @click="clearForm">
      </div>
    </form>
    <br>

    <table-component></table-component>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript">
    const store = new Vuex.Store({
      state: {
        name: '',
        address: '',
        phoneNumber: '',
        errors: [],
        members: [],
        baseUrl: 'https://demo-api-vue.sanbercloud.com',
        defaultImage: 'https://placehold.jp/200/808080/ffffff/300x300.jpg?text=%3F',
        mode: 'mendaftar',
        editID: null,
        uploadID: null,
      },
      mutations: {
        getAllMembers: function(state, payload) {
          state.members = payload
        },
        editMember: function(state, payload) {
          state.name = payload.name
          state.address = payload.address
          state.phoneNumber = payload.no_hp
          state.editID = payload.id
          state.mode = 'menyunting'
        },
        uploadPhoto: function(state, payload) {
          state.name = payload.name
          state.address = payload.address
          state.phoneNumber = payload.no_hp
          state.mode = 'mengunggah'
          state.uploadID = payload.id
        },
        clearForm: function(state, payload) {
          state.name = ''
          state.address = ''
          state.phoneNumber = ''

          state.mode = 'mendaftar'

          state.editID = null
          state.uploadID = null
        },
        formValidation: function(state, payload) {
          state.errors = []

          if (state.name.length < 1) {
            state.errors.push('Name minimal 1 karakter~')
          }

          if (state.address.length < 1) {
            state.errors.push('Address minimal 1 karakter~')
          }

          if (state.address.length > 20) {
            state.errors.push('Address maksimal 20 karakter~')
          }

          if (state.phoneNumber.length < 9) {
            state.errors.push('Phone Number minimal 9 karakter~')
          }

          if (state.phoneNumber.length > 14) {
            state.errors.push('Phone Number maksimal 14 karakter~')
          }
        },
        name: function(state, payload) {
          state.name = payload
        },
        address: function(state, payload) {
          state.address = payload
        },
        phoneNumber: function(state, payload) {
          state.phoneNumber = payload}
        },
        actions: {
          getAllMembers: function(context, payload) {
            const config = {
              method: 'get',
              url: `${context.state.baseUrl}/api/member`,
            }

            axios(config)
                .then((response) => {
                  context.commit('getAllMembers', response.data.members)
                })
                .catch((error) => {
                  console.log(error)
                })
          },
          submitForm: function(context, payload) {
            context.commit('formValidation')

            if (context.state.errors.length === 0) {
              const formData = new FormData()

              formData.append('name', context.state.name)
              formData.append('address', context.state.address)
              formData.append('no_hp', context.state.phoneNumber)

              const config = {
                method: 'post',
                url: `${context.state.baseUrl}/api/member`,
                data: formData,
              }

              axios(config)
                  .then(response => {
                    context.commit('clearForm')
                    context.dispatch('getAllMembers')

                    const pesan = response.data.message + '~'

                    alert(pesan.toUpperCase())
                  })
                  .catch(error => {
                    console.log(error)
                  })
            }
          },
          updateMember: function(context, payload) {
            context.commit('formValidation')

            if (context.state.errors.length === 0) {
              const formData = new FormData()

              formData.append('name', context.state.name)
              formData.append('address', context.state.address)
              formData.append('no_hp', context.state.phoneNumber)

              const config = {
                method: 'post',
                url: `${context.state.baseUrl}/api/member/${context.state.editID}`,
                params: {_method: 'PUT'},
                data: formData,
              }

              axios(config)
                  .then(response => {
                    context.commit('clearForm')
                    context.dispatch('getAllMembers')

                    const pesan = response.data.message + '~'

                    alert(pesan.toUpperCase())
                  })
                  .catch(error => {
                    console.log(error)
                  })
            }
          },
          submitPhoto: function(context, payload) {
            const formData = new FormData()

            formData.append('photo_profile', payload)

            const config = {
              method: 'post',
              url: `${context.state.baseUrl}/api/member/${context.state.uploadID}/upload-photo-profile`,
              data: formData,
            }

            axios(config)
                .then(response => {
                  context.commit('clearForm')
                  context.dispatch('getAllMembers')

                  const pesan = response.data.message + '~'

                  alert(pesan.toUpperCase())
                })
                .catch(error => {
                  console.log(error)
                })
          },
          deleteMember: function(context, payload) {
            if (confirm('Anda yakin?')) {
              const config = {
                method: 'post',
                url: `${context.state.baseUrl}/api/member/${payload}`,
                params: {_method: 'DELETE'},
              }

              axios(config)
                  .then(response => {
                    context.dispatch('getAllMembers')

                    const pesan = response.data.message + '~'

                    alert(pesan.toUpperCase())
                  })
                  .catch(error => {
                    console.log(error)
                  })
            }
          },
        },
        getters: {
          name: (state) => {return state.name},
          address: (state) => {return state.address},
          phoneNumber: (state) => {return state.phoneNumber},
          mode: (state) => {return state.mode},
          errors: (state) => {return state.errors},
          editID: (state) => {return state.editID},
        },
      })

      const TableComponent = {
        computed: {
          members: function() {
            return this.$store.state.members
          },
          defaultImage: function() {
            return this.$store.state.defaultImage
          },
          baseUrl: function() {
            return this.$store.state.baseUrl
          }
        },
        methods: {
          editMember: function(member) {
            this.$store.commit('editMember', member)
          },
          uploadPhoto: function(member) {
            this.$store.commit('uploadPhoto', member)
          },
          deleteMember: function(id) {
            this.$store.dispatch('deleteMember', id)
          }
        },
        template: `
          <table border="1">
            <tr>
              <th>Foto</th>
              <th>Name</th>
              <th>Address</th>
              <th>Phone Number</th>
              <th>🔥</th>
            </tr>
            <tr v-for="anggota of members">
              <td>
                <img :src="anggota.photo_profile ? baseUrl + anggota.photo_profile : defaultImage" :alt="anggota.name" width="100" height="100">
              </td>
              <td>{{ anggota.name }}</td>
              <td>{{ anggota.address }}</td>
              <td>{{ anggota.no_hp }}</td>
              <td>
                <button @click="editMember(anggota)">Sunting …</button>
                <br><br>
                <button @click="uploadPhoto(anggota)">Unggah foto</button>
                <br><br>
                <button @click="deleteMember(anggota.id)">Hapus(!)</button>
                <br><br>
              </td>
            </tr>
          </table>
        `
      }

      const vm = new Vue({
        el: '#app',
        store,
        components: {
          'table-component': TableComponent
        },
        computed: {
          name: {
            get() {
              return this.$store.getters.name
            },
            set(value) {
              this.$store.commit('name', value)
            }
          },
          address: {
            get() {
              return this.$store.getters.address
            },
            set(value) {
              this.$store.commit('address', value)
            }
          },
          phoneNumber: {
            get() {
              return this.$store.getters.phoneNumber
            },
            set(value) {
              this.$store.commit('phoneNumber', value)
            }
          },
          mode: function() {
            return this.$store.getters.mode
          },
          errors: function() {
            return this.$store.getters.errors
          },
        },
        methods: {
          getAllMembers: function() {
            this.$store.dispatch('getAllMembers')
          },
          clearForm: function() {
            this.$store.commit('clearForm')
          },
          submitForm: function() {
            this.$store.dispatch('submitForm')
          },
          updateMember: function() {
            this.$store.dispatch('updateMember')
          },
          submitPhoto: function() {
            const file = this.$refs.foto.files[0]

            this.$store.dispatch('submitPhoto', file)
          },
        },
        created() {
          this.getAllMembers()
        }
      })
    </script>
  </body>
  </html>
